BuildCaseCuctomization/BuildCaseCuctomizationPlugins/.vs/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/packages/
BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/bin/
BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/obj/
BuildCaseOpptyProductPlugins/packages/
