BuildCaseCuctomization/BuildCaseCuctomizationPlugins/.vs/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/packages/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/.vs/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/bin/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/obj/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/packages/
SharepointFileControl/SharepointFileControlPlugins/.vs/
SharepointFileControl/SharepointFileControlPlugins/packages/
SharepointFileControl/SharepointFileControlPlugins/SharepointFileControlPlugins/bin/
SharepointFileControl/SharepointFileControlPlugins/SharepointFileControlPlugins/obj/
