BuildCaseCuctomization/BuildCaseCuctomizationPlugins/.vs/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseApiServicePlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/bin/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/BuildCaseDataSyncPlugins/obj/
BuildCaseCuctomization/BuildCaseCuctomizationPlugins/packages/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/.vs/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/bin/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/BuildCaseOpptyProductPlugins/obj/
BuildCaseCuctomization/BuildCaseOpptyProductPlugins/packages/
SharepointFileControlSrc/SharepointFileControlPlugins/.vs/
SharepointFileControlSrc/SharepointFileControlPlugins/packages/
SharepointFileControlSrc/SharepointFileControlPlugins/SharepointFileControlPlugins/bin/
SharepointFileControlSrc/SharepointFileControlPlugins/SharepointFileControlPlugins/obj/
